Source: com.github.polyjitter.fictionaria
Section: x11
Priority: extra
Maintainer: adriene <polyjitter@fastmail.com>
Build-Depends: debhelper (>= 10.5.1),
               gettext,
               libgtk-3-dev (>= 3.10),
               meson,
               valac (>= 0.28.0)
Standards-Version: 4.1.1

Package: com.github.polyjitter.fictionaria
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: An elegant Interactive Fiction jukebox
 Fictionaria is an elegant IF (Interactive Fiction) player and browser for elementary os.